In [55]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
#Import cranial database 
df = pd.read_csv('../../datasources/fdb/cranial.csv')
#This should shuffle the db.
df = df.sample(frac=1)
#Drop categorical data. We'll focus on measurement data.
del df['DB']
del df['Item']
del df['ID']
del df['ContNum']
del df['FDN']
del df['Pop']
del df['PopSex']
del df['Ethnicity'] #Probably really important.
del df['BirthYear']
del df['Age'] #Probably really important.
del df['Comments']

rows, cols = df.shape 
print("Starting with", rows, "individuals and", cols, "features.")

Starting with 5342 individuals and 111 features.

In [56]:
#Consider our target col, Sex.
print("Unique entries.")
df['Sex'].value_counts(dropna=False)

Unique entries.

M      3187
F      2095
N        58
NaN       2
Name: Sex, dtype: int64

In [57]:
#Clean N and Nan entries
df = df[~(df.Sex.str.contains("N") == True)]
df = df.dropna(subset = ['Sex'])
#Move from object to float
df['Sex'] = df['Sex'].map({'M':1.0, 'F':0.})
df.describe()

,Sex,GOL,NOL,BNL,BBH,XCB,XFB,WFB,ZYB,AUB,...,MAN,BABR,BANA,BAPR,UFHT,UFBR,ORBR,BIOB,INTB,MOW
count,5282.000000,5200.000000,4396.000000,5177.000000,5182.000000,5196.000000,4395.000000,2622.000000,5096.000000,5106.000000,...,518.000000,636.000000,607.000000,574.000000,2115.000000,1605.000000,453.000000,604.000000,413.000000,0
mean,0.603370,180.397500,177.689945,100.143906,133.846584,137.568129,114.752673,94.898932,129.449372,120.855660,...,124.990347,136.886792,101.494234,97.031359,70.201891,103.535826,41.008830,96.253311,20.552058,NaN
std,0.489244,8.838111,8.238570,5.764435,7.336864,6.811824,6.477442,4.952665,7.313785,6.763771,...,7.455211,6.889893,5.523686,6.481473,4.934519,4.827782,2.493338,4.400408,3.388348,NaN
min,0.000000,131.000000,150.000000,79.000000,107.000000,116.000000,93.000000,79.000000,90.000000,98.000000,...,90.000000,84.000000,85.000000,73.000000,47.000000,87.000000,34.000000,81.000000,0.000000,NaN
25%,0.000000,174.000000,172.000000,96.000000,129.000000,133.000000,110.000000,92.000000,124.000000,116.000000,...,120.250000,133.000000,98.000000,93.000000,67.000000,100.000000,39.000000,93.000000,19.000000,NaN
50%,1.000000,180.000000,178.000000,100.000000,134.000000,137.000000,115.000000,95.000000,129.000000,121.000000,...,125.000000,137.000000,101.000000,97.000000,70.000000,104.000000,41.000000,96.000000,21.000000,NaN
75%,1.000000,187.000000,183.000000,104.000000,139.000000,142.000000,119.000000,98.000000,134.000000,125.000000,...,130.000000,142.000000,105.000000,101.000000,74.000000,107.000000,42.000000,99.000000,22.000000,NaN
max,1.000000,211.000000,207.000000,120.000000,157.000000,167.000000,145.000000,119.000000,158.000000,154.000000,...,147.000000,156.000000,130.000000,116.000000,91.000000,122.000000,51.000000,112.000000,29.000000,NaN

In [58]:
#Split into data and labels.
X = df.drop(['Sex'], axis=1)
y = df[['Sex']]

In [59]:
#Split train test
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2)

In [60]:
X_train.isnull().sum().sum()

165881

In [61]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((4225, 110), (1057, 110), (4225, 1), (1057, 1))

In [ ]:
#Standardize df
X_train_mean = X_train.mean()
X_train_std = X_train.std()
X_train = (X_train - X_train_mean) / (X_train_std)
X_train.describe()

,GOL,NOL,BNL,BBH,XCB,XFB,WFB,ZYB,AUB,ASB,...,MAN,BABR,BANA,BAPR,UFHT,UFBR,ORBR,BIOB,INTB,MOW
count,4.161000e+03,3.524000e+03,4.141000e+03,4.146000e+03,4.157000e+03,3.526000e+03,2.097000e+03,4.075000e+03,4.084000e+03,3.526000e+03,...,4.130000e+02,5.000000e+02,4.770000e+02,4.510000e+02,1.698000e+03,1.283000e+03,3.540000e+02,4.720000e+02,3.140000e+02,0
mean,-1.062730e-15,1.545113e-15,-7.164839e-16,-1.875356e-15,-1.073954e-15,3.839062e-16,-8.236801e-16,-1.861292e-16,5.532222e-16,-5.869131e-16,...,-5.510792e-16,1.588507e-15,-1.060647e-15,-9.694143e-16,4.206817e-16,-1.237427e-15,-7.479892e-16,5.491135e-16,5.798617e-17,NaN
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,NaN
min,-5.575828e+00,-3.351344e+00,-3.663912e+00,-3.632284e+00,-3.173401e+00,-3.230745e+00,-3.172069e+00,-3.369782e+00,-3.397817e+00,-3.355843e+00,...,-4.677018e+00,-7.474356e+00,-2.909331e+00,-3.649186e+00,-4.669619e+00,-3.384860e+00,-2.795292e+00,-3.425997e+00,-6.071619e+00,NaN
25%,-7.265643e-01,-6.945041e-01,-7.146757e-01,-6.409527e-01,-6.690618e-01,-7.379839e-01,-7.629317e-01,-7.543729e-01,-7.150361e-01,-7.254767e-01,...,-6.517156e-01,-5.247650e-01,-7.860351e-01,-6.132463e-01,-6.466793e-01,-7.301021e-01,-7.881249e-01,-7.364826e-01,-4.996640e-01,NaN
50%,-4.992284e-02,3.008855e-02,-2.073770e-02,3.889531e-02,-7.980547e-02,4.100402e-02,4.011399e-02,-6.610728e-02,3.018092e-02,-6.788522e-02,...,1.916810e-02,4.254851e-02,-7.826965e-02,-6.058416e-03,-4.323831e-02,8.674639e-02,1.474190e-02,-6.410390e-02,8.685749e-02,NaN
75%,7.394922e-01,7.546812e-01,6.732003e-01,7.187433e-01,6.567650e-01,6.641944e-01,6.423983e-01,6.221583e-01,6.263545e-01,5.897063e-01,...,6.900518e-01,7.516904e-01,6.294957e-01,6.011295e-01,7.110629e-01,6.993828e-01,4.161753e-01,6.082748e-01,3.801183e-01,NaN
max,3.446058e+00,3.532286e+00,3.448952e+00,3.030226e+00,4.339617e+00,4.714932e+00,4.858388e+00,3.925833e+00,4.203396e+00,3.548868e+00,...,2.971056e+00,2.737288e+00,5.053029e+00,2.878084e+00,4.180849e+00,3.762565e+00,4.029076e+00,3.521916e+00,2.432944e+00,NaN

In [ ]:
#The imputer. I haven't looked closely at this algo. 
#Should probably be doing this after standardization because of scaling concerns.
from fancyimpute import KNN
X_train_filled = pd.DataFrame(KNN(k=3).complete(X_train))
X_test_filled = pd.DataFrame(KNN(k=3).complete(X_test))

Computing pairwise distances between 4225 samples
Computing distances for sample #1/4225, elapsed time: 1.917
No samples have sufficient overlap with sample 58
Computing distances for sample #101/4225, elapsed time: 2.235
Computing distances for sample #201/4225, elapsed time: 2.567
Computing distances for sample #301/4225, elapsed time: 2.968
Computing distances for sample #401/4225, elapsed time: 3.343
Computing distances for sample #501/4225, elapsed time: 3.607
Computing distances for sample #601/4225, elapsed time: 3.844
Computing distances for sample #701/4225, elapsed time: 4.136
Computing distances for sample #801/4225, elapsed time: 4.424
Computing distances for sample #901/4225, elapsed time: 4.722
Computing distances for sample #1001/4225, elapsed time: 5.012
Computing distances for sample #1101/4225, elapsed time: 5.227
Computing distances for sample #1201/4225, elapsed time: 5.440
Computing distances for sample #1301/4225, elapsed time: 5.649
Computing distances for sample #1401/4225, elapsed time: 5.863
No samples have sufficient overlap with sample 1420
No samples have sufficient overlap with sample 1479
Computing distances for sample #1501/4225, elapsed time: 6.071
Computing distances for sample #1601/4225, elapsed time: 6.284
Computing distances for sample #1701/4225, elapsed time: 6.495
Computing distances for sample #1801/4225, elapsed time: 6.706
No samples have sufficient overlap with sample 1887
Computing distances for sample #1901/4225, elapsed time: 6.925
Computing distances for sample #2001/4225, elapsed time: 7.138
No samples have sufficient overlap with sample 2052
No samples have sufficient overlap with sample 2085
Computing distances for sample #2101/4225, elapsed time: 7.361
No samples have sufficient overlap with sample 2175
Computing distances for sample #2201/4225, elapsed time: 7.575
Computing distances for sample #2301/4225, elapsed time: 7.791
Computing distances for sample #2401/4225, elapsed time: 8.012
No samples have sufficient overlap with sample 2407
No samples have sufficient overlap with sample 2472

In [ ]:
#Num zero entries
(X_train_filled == 0).astype(int).sum().sum(),(X_test_filled == 0).astype(int).sum().sum()

In [ ]:
#Impute zeros with mean mean.
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values=0, strategy='mean', axis=0)
imp.fit(X_train_filled)
X_train_filled = pd.DataFrame(imp.transform(X_train_filled))
imp.fit(X_test_filled)
X_test_filled = pd.DataFrame(imp.transform(X_test_filled))

In [ ]:
#No zero values
(X_train_filled == 0).astype(int).sum().sum(), (X_test_filled == 0).astype(int).sum().sum()

In [ ]:
#Standardize
from sklearn import preprocessing
X_train_preprocessed = pd.DataFrame(preprocessing.scale(X_train_filled))
X_test_preprocessed = pd.DataFrame(preprocessing.scale(X_test_filled))

In [ ]:
from sklearn import svm
clf = svm.SVC()
clf.fit( X_train_preprocessed, np.ravel(y_train) )

In [ ]:
from sklearn import cross_validation
#scores = cross_validation.cross_val_score(clf, X_test_preprocessed, np.ravel( (y_test+1)/2), cv=5)
clf.score(X_test_preprocessed, np.ravel(y_test))

In [ ]:
p=clf.predict(X_test_preprocessed)
from sklearn.metrics import confusion_matrix
sns.heatmap(confusion_matrix(y_test, p), annot=True)